<%= simple_form_for([ @syllabus_module, @lecture], html: { class: 'container my-5', style: 'max-width: 600px;' }) do |f| %>  <!-- Título del modulo -->

  <div class="form-group">
    <%= f.input :details, label: 'Titulo de la Lección', input_html: { class: 'form-control' } %>
  </div>

  <!-- Botón de envío -->
  <div class="form-actions text-center">
    <%= f.button :submit, 'Agregar Leccion', class: 'btn btn-primary' %>
  </div>

  <div class="form-actions text-center">
    <%= f.link_to syllabus_path, 'Ver Syllabus', class: 'btn btn-primary' %>
  </div>

  <div class="form-actions text-center">
    <%= f.link_to syllabus_path, 'Ver Modulos', class: 'btn btn-primary' %>
  </div>

<% end %>
