<li class="mb-2">
  <%= turbo_frame_tag dom_id(comment) do %>
    <% if params[:edit_comment_id].to_i == comment.id %>
      <%= simple_form_for [lecture, comment], method: :patch, html: { class: 'w-100 mx-auto' } do |f| %>
        <div class="comment-bubble" style="max-width: 95%; width: 95%; margin: 0 auto; background-color: white; padding: 15px;">
          <div class="card-body">
            <%= f.label :content, "<strong>Edita tu comentario:</strong>".html_safe, class: 'form-label' %>
            <%= f.input :content, as: :text, id: 'comment_content', input_html: { rows: 4, class: 'form-control' }, label: false %>
          </div>
          <div class="comment-footer d-flex justify-content-end" style="background-color: transparent; border-top: none; padding: 0; gap: 0;">
            <button type="submit" class="btn btn-link ms-2" style="margin-right: 0; padding: 0;">
              <i class="fa-solid fas fa-sync fa-lg text-black"></i>
            </button>
            <%= link_to lecture_comments_path(lecture), class: 'btn btn-link' do %>
              <i class="fa-solid fas fa-x fa-lg text-black"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="comment-bubble" <%= 'user-comment' if comment.user == current_user %> shadow-lg" style="max-width: 95%; width: 95%; margin: 10px auto; background-color: white; padding: 15px;">
        <div class="comment-content">
          <p><strong><%= comment.user.email %> recomendó:</strong></p>
          <p><%= comment.content %></p>
        </div>
        <div class="comment-footer d-flex justify-content-end align-items-center" style="background-color: transparent; border-top: none;">
          <% if comment.user == current_user %>
            <%= link_to lecture_comments_path(lecture, edit_comment_id: comment.id), class: 'me-2' do %>
              <i class="fa-solid fas fa-pen fa-lg text-black"></i>
            <% end %>
            <%= button_to lecture_comment_path(lecture, comment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'ms-2 trash-icon', form: { data: { turbo_stream: true } } do %>
              <i class="fa-solid fas fa-trash fa-lg text-black"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</li>
