<div class="custom-card-new rounded-5 bg-light">
  <%= simple_form_for(@syllabus, html: { class: 'container my-5', style: 'max-width: 600px;' }) do |f| %>

    <% if @syllabus.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@syllabus.errors.count, "error") %> prohibited this syllabus from being saved:</h4>
        <ul>
          <% @syllabus.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Título del formulario -->
    <div class="form-group">
      <%= f.input :title, label: 'Title', input_html: { class: 'form-control' } %>
    </div>

    <!-- Descripción del formulario -->
    <div class="form-group">
      <%= f.input :description, label: 'Description', as: :text, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.association :category, label: 'Categoría', input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.input :image, label: 'Fotografía', as: :file, input_html: { class: 'form-control' } %>
    </div>

  <div class= "d-flex m-3 justify-content-center">
    <!-- Botón de envío -->
    <div class="form-actions text-center m-3">
      <%= f.button :submit, 'Guardar Cambios', class: 'btn btn-primary' %>
    </div>

    <div class="form-actions text-center m-3">
      <%= f.button :submit, 'Editar Contenido', class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
