<h1 class="display-4 text-center mt-5 fw-bold">Syllabus que tenemos para tí</h1>

<div class="container my-5">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-4">
        <div class="list-group shadow-sm rounded">
          <div class="list-group-item py-3 bg-primary text-white text-center category-title black">
            <h5 class="mb-1 text-truncate fw-bold"><%= category.name %></h5>
          </div>
          <%= image_tag "categorias/#{category.name}.jpg", class: "img-category" %>
          <%category_syllabuses = Syllabus.where(category_id: category.id)%>
          <% category_syllabuses.each do |syllabus| %>
            <%=link_to syllabus_path(syllabus), class: 'text-dark text-decoration-none' do %>
            <div class="list-group-item d-flex justify-content-between align-items-center py-3">
              <div class="d-block">
                <h5 class="mb-1 text-center"><strong><%= syllabus.title %></strong></h5>
                <small class=""><%= syllabus.description.first(90) %>...</small>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% console %>
<!-- Estilos específicos para las imágenes, tarjetas y títulos -->
<style>
  .container.my-5 {
    margin-top: 3rem; /* Margen superior */
    margin-bottom: 3rem; /* Margen inferior */
    font-family: 'Inter', sans-serif !important;
  }

  .img-category {
    width: 100%; /* Ajusta el ancho al contenedor */
    height: 250px; /* Más alargada */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin distorsión */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado inferior entre la imagen y el contenido */
  }

  .list-group {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
    border-radius: 8px; /* Bordes redondeados para las tarjetas */
    overflow: hidden;
    font-family: 'Inter', sans-serif !important;
  }

  .list-group-item:first-child {
    border-top-left-radius: 8px; /* Bordes redondeados superiores */
    border-top-right-radius: 8px;
  }

  .category-title {
    text-align: center; /* Centra el texto del título */
    font-weight: bold; /* Destaca el texto */
    font-family: 'Inter', sans-serif !important;
  }
</style>
