<div class="container mt-5">
  <div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active white-box" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Detalles</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Contenido</button>
      </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
      <!-- Pestaña de detalles -->
      <div class="tab-pane fade show active mt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="row">
          <div class="col-md-12 text-center mb-4">
            <%= cl_image_tag(@syllabus.image.key, width: 800, height: 400, crop: :fill, class: "img-fluid rounded-4 shadow-lg border border-muted mb-4") if @syllabus.image.present? %>
          </div>
          <div class="col-md-12">
            <h3 class="text-black text-center font-weight-bold mb-4">
              <%= @syllabus.title %>
            </h3>
            <p class="text-black mb-3" style="text-align: justify;">
              <%= @syllabus.description %>
            </p>
            <p class="font-weight-bold text-dark mb-3">
              Categoría:<span class="text-muted"><strong><%= @syllabus.category.name %></strong></span>
            </p>
            <p class="font-weight-bold text-dark mb-3">
              Mentor: <span class="text-muted"><strong><%= @syllabus.user.email %></strong></span>
            </p>

            <p class="font-weight-bold text-dark mb-3">
              Puntuación:
              <span class="rating">
                <% average_rating = (@syllabus.reviews.map(&:rating).sum / @syllabus.reviews.size.to_f).round(2) %>

                <% full_stars = average_rating.to_i %>
                <% half_star = (average_rating - full_stars) >= 0.5 ? 1 : 0 %>
                <% empty_stars = 5 - full_stars - half_star %>
                <% full_stars.times do %>
                  <i class="fa fa-star text-warning"></i>
                <% end %>
                <% half_star.times do %>
                  <i class="fa fa-star-half-alt text-warning"></i>
                <% end %>
                <% empty_stars.times do %>
                  <i class="fa fa-star text-muted"></i>
                <% end %>

                <strong><%= average_rating %> / 5</strong>
              </span>
            </p>

          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="container">
          <div class="progress mt-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @progress_percentage %>%;" aria-valuenow="<%= @progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
              <%= @progress_percentage %>% completado
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="accordion" id="modulesAccordion">
                <% @syllabus.syllabus_modules.each_with_index do |modulo, index| %>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= index %>">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="<%= index.zero? %>" aria-controls="collapse<%= index %>">
                        <%= modulo.name %>
                      </button>
                    </h2>
                    <div id="collapse<%= index %>" class="accordion-collapse collapse <%= 'show' if index.zero? %>" aria-labelledby="heading<%= index %>" data-bs-parent="#modulesAccordion">
                      <div class="accordion-body">
                        <% if modulo.lectures.any? %>
                          <ul class="list-group">
                            <% modulo.lectures.each do |lecture| %>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                <%= check_box_tag "lecture_#{lecture.id}_completed", true, session[:completed_lectures]&.include?(lecture.id), class: 'form-check-input me-2 mark-completed', data: { lecture_id: lecture.id } %>
                                <span class="flex-grow-1"><%= lecture.details.truncate(50) %></span>
                                <%= link_to 'Recomendaciones', lecture_comments_path(lecture), class: 'btn btn-primary btn-sm', data: {turbo_frame: :comment} %>
                              </li>
                            <% end %>
                          </ul>
                        <% else %>
                          <p>No hay lecciones en este módulo.</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <%= turbo_frame_tag :comment %>
            </div>
          </div>
          <div class="position-fixed bottom-0 start-0 mb-3 ms-3" style="width: 300px; padding: 10px;">
            <div class="card shadow-sm p-2 bg-white text-dark rounded-3" style="max-width: 100%; min-width: 300px; border: 1px solid #ddd;">
              <div class="card-body">
                <%= simple_form_for [@syllabus, @review], data: { controller: "submit" } do |f| %>
                  <div class="d-flex align-items-center mb-3">
                    <%= f.input :rating, label: "¿Qué te pareció este Syllabus?", collection: (1..5).to_a, input_html: { data: { controller: "star-rating", action: "click->form-submit#submit" }, class: "star-rating-input" }, label_html: { style: 'font-weight: bold; font-size: 1rem; margin-right: 10px;' }, required: false %>
                  </div>
                  <div class="d-flex justify-content-center">
                    <%= f.submit "Enviar", class: "btn btn-primary btn-sm" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-5 mb-5">
  <%= button_to "Agregar a mi Biblioteca", syllabus_libraries_path(@syllabus), method: :post, class: 'btn btn-primary btn-lg' %>
</div>

<style>
  .form-check-input {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(12, 16, 21);
    background-color: #fff;
    accent-color: rgb(68, 72, 78);
    transition: background-color 0.2s, border-color 0.2s;
  }

  .form-check-input:checked {
    background-color: rgb(18, 20, 22);
    border-color: rgb(13, 13, 13);
  }

  .form-check-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(156, 162, 169, 0.5);
  }

  .form-check-label {
    font-size: 14px;
  }

  .progress-bar {
    transition: width 0.2s ease;
  }

  .star-rating-input {
    font-size: 3rem;
  }

  .card {
    border-radius: 10px;
  }

  .card-body {
    padding: 15px;
  }

  .bg-dark {
    background-color: #333 !important;
  }

  .text-white {
    color: #fff !important;
  }

  .bg-white {
    background-color: #fff !important;
  }

  .text-dark {
    color: #333 !important;
  }
</style>

 <script>
  // Configuración de AJAX para incluir el token CSRF
  document.addEventListener("DOMContentLoaded", function() {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      }
    });
  });

  // Función para actualizar la barra de progreso
  document.addEventListener("DOMContentLoaded", function() {
    const progressBar = document.querySelector(".progress-bar");
    const checkboxes = document.querySelectorAll(".mark-completed");

    function updateProgressBar() {
      const totalLectures = checkboxes.length;
      const completedLectures = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
      const progressPercentage = totalLectures > 0 ? (completedLectures / totalLectures) * 100 : 0;

      // Actualiza el valor y el texto de la barra de progreso
      progressBar.style.width = progressPercentage + "%";
      progressBar.setAttribute("aria-valuenow", progressPercentage);
      progressBar.innerText = Math.round(progressPercentage) + "% completado";

      // Guardar el estado en la sesión del navegador
      const completedLectureIds = Array.from(checkboxes)
        .filter(checkbox => checkbox.checked)
        .map(checkbox => checkbox.dataset.lectureId);
      sessionStorage.setItem("completed_lectures", JSON.stringify(completedLectureIds));
    }

    // Actualiza la barra de progreso al cargar la página
    updateProgressBar();


    checkboxes.forEach(checkbox => {
      checkbox.addEventListener("change", updateProgressBar);
    });
  });
</script>
