<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container d-flex justify-content-between align-items-center w-100">

    <!-- Texto U-Bliss alineado a la izquierda -->
    <p class="text-logo mb-0">U-Bliss</p>

    <!-- Logo -->
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag("Logo.png", alt: "U-bliss Logo", class: "img-hover-opacity", style: "max-width: 40px;") %>
    </a>

    <!-- Searchbar -->
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Buscar...">
      <button class="search-button">
        <i class="fas fa-search"></i> <!-- Ícono de lupa -->
      </button>
    </div>

    <!-- Menú de navegación alineado a la derecha -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto d-flex justify-content-center gap-3">
        <li class="nav-item <%= 'active' if current_page?(lectures_path) %>">
          <%= link_to 'Categorias', lectures_path, class: 'nav-link custom-link-color' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(lectures_path) %>">
          <%= link_to 'Mi Libreria', lectures_path, class: 'nav-link custom-link-color' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?('/users/sign_in') %>">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link custom-link-color' if !user_signed_in? %>
          <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link custom-link-color' if user_signed_in? %>
        </li>
      </ul>
    </div>
  </div>
</nav>
