<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="mt-5 mb-5 text-center">Mi Biblioteca</h2>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Estudiante</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mentor</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active text-black" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="row mb-5">
        <% @libraries.each do |library| %>
          <div class="col-12 col-md-4 mb-4 mt-5">
            <div class="custom-card-vertical rounded-5 bg-light">
              <%= cl_image_tag library.syllabus.image.key, class: "card-image" if library.syllabus.image.attached? %>
              <div class="card-body d-flex flex-column">
                <h3 class="card-title text-center"><%= library.syllabus.title %></h3>
                <p class="card-subtitle">Mentor: <strong><%= "#{library.syllabus.user.first_name} #{library.syllabus.user.last_name}" %></strong></p>
                <p class="text-center card-text"><%= library.syllabus.description.first(250)%>...</p>
                <div class="d-flex justify-content-end gap-3" style="position: absolute; bottom: 10px; right: 10px;">
                  <%= link_to syllabus_path(library.syllabus) do %>
                    <i class="fa-solid fas fa-eye fa-lg text-black"></i>
                  <% end %>
                  <%= button_to syllabus_library_path(library.syllabus, library), method: :delete do %>
                    <i class="fa-solid fas fa-trash fa-lg text-black"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <div class="text-center m-1">
        <%= link_to 'Agregar Syllabus', new_syllabus_path, class: 'btn btn-primary btn-lg mt-5' %>
      </div>
      <div class="row mb-5">
        <% current_user.syllabuses.each do |syllabus| %>
          <div class="col-12 col-md-4 mb-4 mt-5">
            <div class="custom-card-vertical rounded-5 bg-light">
              <%= cl_image_tag syllabus.image.key, class: "card-image" if syllabus.image.attached? %>
              <div class="card-body d-flex flex-column">
                <h3 class="card-title text-center"><%= syllabus.title %></h3>
                <p class="card-subtitle">Mentor: <strong><%= "#{syllabus.user.first_name} #{syllabus.user.last_name}" %></strong></p>
                <p class="card-subtitle">Category: <strong><%= syllabus.category.name %></strong></p>
                <p class="text-center card-text"><%= syllabus.description.first(180) %>...</p>
                <div class="d-flex justify-content-end gap-3" style="position: absolute; bottom: 10px; right: 10px;">
                  <%= link_to syllabus_path(syllabus) do %>
                    <i class="fa-solid fas fa-eye fa-lg text-black"></i>
                  <% end %>
                  <%= button_to syllabus_path(syllabus), method: :delete do %>
                    <i class="fa-solid fas fa-trash fa-lg text-black"></i>
                  <% end %>
                  <%= link_to edit_syllabus_path(syllabus) do %>
                    <i class="fa-solid fas fa-pen fa-lg text-black"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
