<!-- Banner Principal -->
    <section class="hero">
        <div class="hero-content">
            <h1>¡Aprende de los mejores mentores del mundo!</h1>
            <p>Explora</p>
            <div class="buttons">
                <%= link_to "Explora Syllabuses", syllabuses_path, class: "btn-primary" %>
            </div>
        </div>
    </section>

    <!-- Resultados de búsqueda -->
        <% if params[:query].present? %>
    <h3>Resultados de búsqueda:</h3>

    <h4>Categorías:</h4>
    <% if @categories.any? %>
        <ul>
        <% @categories.each do |category| %>
            <li><%= category.name %></li>
        <% end %>
        </ul>
    <% else %>
        <p>No se encontraron categorías para "<%= params[:query] %>".</p>
    <% end %>

    <h4>Syllabus:</h4>
    <% if @syllabuses.any? %>
        <ul>
        <% @syllabuses.each do |syllabus| %>
            <li><%= syllabus.title %></li>
        <% end %>
        </ul>
    <% else %>
        <p>No se encontraron syllabus para "<%= params[:query] %>".</p>
    <% end %>

    <h4>Módulos:</h4>
    <% if @syllabuses_modules.any? %>
        <ul>
        <% @syllabuses_modules.each do |mod| %>
            <li><%= mod.name %></li>
        <% end %>
        </ul>
    <% else %>
        <p>No se encontraron módulos para "<%= params[:query] %>".</p>
    <% end %>

    <h4>Lecturas:</h4>
    <% if @lectures.any? %>
        <ul>
        <% @lectures.each do |lecture| %>
            <li><%= lecture.details %></li>
        <% end %>
        </ul>
    <% else %>
        <p>No se encontraron lecturas para "<%= params[:query] %>".</p>
    <% end %>
    <% end %>

    <!-- Cursos Destacados -->
    <section class="featured-courses">
        <h2>Syllabuses Destacados</h2>
        <div class="courses-container">
            <div class="course-card">
                <h3>Syllabus de Programación</h3>
                <p class="mb-4">Impartido por expertos en la materia.</p>
                <div class="buttons">
                <%= link_to "Ver más", syllabuses_path, class: "btn-primary" %>
            </div>
            </div>
            <div class="course-card">
                <h3>Syllabus de Diseño</h3>
                <p class="mb-4">Aprende a capturar momentos inolvidables.</p>
                <div class="buttons">
                <%= link_to "Ver más", syllabuses_path, class: "btn-primary" %>
            </div>
            </div>
        </div>
    </section>

<section class="featured-courses">
    <div class="courses-container">
        <div class="about-text">
            <h3 class="about-us-text mb-3">¿Quiénes Somos?</h3>
            <p class="about-us-text">Somos un grupo de estudiantes, tal como tú, que buscamos aprender de manera más eficiente. Al principio, nos sentimos perdidos, sin saber por dónde empezar ni cómo trazar una ruta clara para adquirir nuevos conocimientos. Era un reto encontrar el camino correcto entre tantas opciones.</p>
            <p class="about-us-text">Para hacer todo esto más fácil, decidimos crear esta plataforma. Aquí, las personas pueden compartir sus propias rutas de aprendizaje, recomendaciones y recursos útiles sobre diversos temas. Nuestro objetivo es ayudarte a encontrar el mejor camino para aprender, sin perder tiempo ni energía buscando información dispersa.</p>
            <p class="about-us-text">Queremos que este espacio sea una comunidad donde todos podamos compartir y crecer juntos. ¡Estamos aquí para aprender, apoyarnos y avanzar juntos!</p>
        </div>
    </div>
</section>
