<div class="container my-5">
<h1 class="text-center mb-5">Sobre Nosotros</h1>


  <!-- Fila 1: Historia de la Empresa -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <img src="<%= asset_path('Logo.png') %>" alt="Historia de la Empresa" class="card-img-top" style="border-radius: 15px; width: 100%; height: auto;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0">
        <div class="card-body">
          <h3 class="card-title">Historia de U-Bliss</h3>
          <p class="card-text">
            U-Bliss nació en 2024 gracias a la visión de Carla Ugarte, quien propuso la idea de crear una plataforma educativa gratuita. Junto con sus socios Sebastián Flores, Sandra Álvarez y Orel Meíri, transformaron esa idea en realidad.
            </p>
            <p class="card-text">
            La plataforma permite a los usuarios aprender nuevas profesiones, dar clases y colaborar en el desarrollo de contenido educativo. Con el objetivo de democratizar el acceso al aprendizaje, U-Bliss ofrece herramientas en línea para fomentar el crecimiento profesional y el intercambio de conocimientos, creando una comunidad comprometida con la educación de calidad.
            </p></div>
      </div>
    </div>
  </div>

  <!-- Fila 2: Mision de la Empresa -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6 order-md-2">
      <div class="card shadow-sm border-0">
        <img src="<%= asset_path('nosotros/vision.jpg') %>" alt="Visión de la Empresa" class="card-img-top" style="border-radius: 15px; width: 100%; height: auto;">
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="card border-0">
        <div class="card-body">
          <h3 class="card-title">Misión</h3>
          <p class="card-text">
            Brindar acceso gratuito a la educación y al aprendizaje de nuevas profesiones, fomentando una comunidad donde todos tengan la oportunidad de enseñar, aprender y colaborar. En U-Bliss, nos comprometemos a proporcionar herramientas en línea innovadoras para facilitar el crecimiento profesional y personal de nuestros usuarios, contribuyendo al desarrollo de una sociedad más educada y empoderada.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila 3: Vision de la Empresa -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <img src="<%= asset_path('nosotros/mision.jpg') %>" alt="Misión de la Empresa" class="card-img-top" style="border-radius: 15px; width: 100%; height: auto;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0">
        <div class="card-body">
          <h3 class="card-title">Visión</h3>
          <p class="card-text">
            Ser la plataforma educativa de referencia a nivel global, donde personas de todas partes del mundo puedan acceder a una educación de calidad, compartir conocimientos y construir un futuro mejor mediante el aprendizaje colaborativo. Aspiramos a crear un entorno inclusivo y accesible que promueva el aprendizaje continuo y el intercambio de habilidades, transformando la manera en que las personas se desarrollan profesionalmente.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila 4: Socios -->
  <h3 class="text-center mb-5">Socios</h3>
  <div class="row text-center">
    <div class="col-md-3 mb-4">
      <div class="card shadow border-0">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="<%= asset_path('nosotros/carla.png') %>" alt="Miembro 1" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
          <h5 class="card-title">Carla Ugarte</h5>
          <p class="card-text">Director Ejecutivo (CEO)</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card shadow border-0">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="<%= asset_path('nosotros/sebas.png') %>" alt="Miembro 2" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
          <h5 class="card-title">Sebastian Flores</h5>
          <p class="card-text">Director de Tecnología (CTO)</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card shadow border-0">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="<%= asset_path('nosotros/sandy.png') %>" alt="Miembro 3" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
          <h5 class="card-title">Sandra Alvarez</h5>
          <p class="card-text">Chief Product Officer (CPO)</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card shadow border-0">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="<%= asset_path('nosotros/or.png') %>" alt="Miembro 4" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
          <h5 class="card-title">Orel Meíri</h5>
          <p class="card-text">Director de Innovación</p>
        </div>
      </div>
    </div>
  </div>
</div>
