<div class="custom-card-new rounded-5 bg-light">
  <div class="form-group m-4">
    <h1><%= @syllabus_module.name %></h1>

    <div id="lectures">
      <%= render @syllabus_module.lectures %>
    </div>

    <div class="d-flex m-3 justify-content-center">

      <div class="text-center text-center m-3">
      <%= link_to "Agregar Leccion", new_syllabus_module_lecture_path(@syllabus_module), data:{turbo_frame: :lecture}, class: "btn btn-primary" %>
      </div>

      <div class="text-center text-center m-3">
      <%= link_to "Agregar Modulo", new_syllabus_syllabus_module_path(@syllabus_module.syllabus), class: "btn btn-danger" %>
      </div>

      <div class="form-actions text-center m-3">
        <%= link_to 'Ver Syllabus', syllabus_path(@syllabus_module.syllabus), class: 'btn btn-primary' %>
      </div>

    </div>

<%= turbo_frame_tag :lecture%>


  </div>
</div>
